

.appbar-container {
  
	background: $color-brand;
	padding-bottom: 5px;
 
	.datetime-container {
		color: #FFF;
	}

	.navbar-brand, .navbar li, .navbar a {
		padding: 0;
	}

	.navbar-brand {
		width: 100%;
		height: 56px;
	}

	.navbar-brand img {
		width: 100%;
	}

	.currentDateTime span {
		margin: 0 10px;
	}

	.md-button.md-icon-button {
		margin: 0;
	}
  
}




