.contact-container {
	
	md-card md-card-title {
		padding: 24px 0;
	}

	.contactName {
		width: 150px;
	}

	.contactPhone {
		width: 100px;
	}

	.md-avatar {
		width: 50px;
		height: 50px;
		margin: 8px 10px;
	}

	md-card-title-text {
		margin: 8px 10px;
	}

}