<div flex layout="column">
		
	<h1>CONTACTS</h1>	
	<div id="content">
			
		<div ui-view></div>
	
	</div>

</div>
  
<!--   <md-content flex layout="column" layout-padding id="content">

    <div ui-view="taskDetails"></div>

  </md-content>
 -->
<!--
<div class="dashboard-container" flex="none" layout="column" data-contacts="vm.contacts">

	<!-- CONTACTS OR TASKS 
	<fc-contacts></fc-contacts>
	
	<div class="alert alert-success contactSuccess" ng-show="vm.createContactSuccess" role="alert">
		
		<div class="contactSuccessIcon">
			<i class="glyphicon glyphicon-ok" aria-hidden="true"></i>
		</div>
		
		<div class="contactSuccessContent">
			<div>
			SUCCESS! Contact {{vm.newContact[0].firstName}} {{vm.newContact[0].lastName}} added.
			</div>
			<div>
				{{vm.date | date: 'M/dd/yyyy'}} by Evan Dana. 
			</div>
		</div>

	</div>

</div>
-->