.sort-container {
	
	margin-top: 10px;
	margin-right: auto;
    margin-left: auto;
    background: #FFF;

    .md-title {
    	display: inline-block;
    }

    .sort-select {
    	display: inline-block;
    	margin: auto 15px;
    }

    md-input-container {
    	border: 1px solid #ccc;
    }

}