/* ----- contacts ----- */

.contacts-container {

    .addContactButton {
        text-transform: none;
        color: $color-brand;
    }

    .addContactButton i {
        font-size: 12px;
    }
}

.contactsPanel {
    background-color: #fff;

    md-list-item {
        border-bottom: 1px solid #CCC;
    }
    
    .panelHeader {
        text-align: center;
        padding-top: 10px;
        width: 50%;
        margin: 0 auto;
    }

    .panel {
        border-top: none;
    }

    .panel-default {
        border: none;
    }

    .panel-default > .panel-heading {
        background: none;
    }

    .contactsPanel-count {
        font-size: 22px;
        color: $color-neutral-strong;
    }

    .contacts .contact-detail-arrow {
        font-size: 2em;
        top: 33px;
        color: #DAD9DA;
    }

    .contacts .contact-image {
        width: 100px;
        height: 100px;
    }

    .contact-expand {
        height: 100px;
        border: 1px solid #ccc;
    }

    .contact-details {
        display: inline-block;
        margin: 10px;
    }

    .contact-name, .contact-company {
        padding: 5px;
    }

    .contact-company {
        color: #ccc;
    }

    .contacts .glyphicon:before {
        background: none;
    }

}
